{% extends "base.html" %}
{% block menu %} 
    {% block navbar %} 
        {{ super() }} 
    {% endblock %} 
{% endblock %} 
{% block main %} 
<div class="row col-11 col-sm-11 m-2 p-2 border rounded border-dark">
    <span class="col-12 m-2 p-2 ">Modification du programe:</span> 
    

    <div class="shadow card ">
        <div class="card-body">
            <h4 id="prog01" class="card-title text-center">PROG 01</h4>
            <div class="card-text border rounded p-2 text-center mb-2">
                 
                <span class="mr-2">start time: </span>
                <input id="p_start" type="time" class="btn btn-secondary btn-sm mr-2 text-center"></span>
                <span class="mr-2">stop time: </span>
                <input id="p_stop" type="time" class="btn btn-secondary btn-sm mr-2 text-center"></span>
            </div>
            <div class="card-text border rounded p-2">
                <span id="lundi" class="badge badge-secondary mr-2">LUN</span>
                <span id="mardi" class="badge badge-secondary mr-2">MAR</span>
                <span id="mercredi" class="badge badge-secondary mr-2">MER</span>
                <span id="jeudi" class="badge badge-secondary mr-2">JEU</span>
                <span id="vendredi" class="badge badge-secondary mr-2">VEN</span>
                <span id="samedi" class="badge badge-secondary mr-2">SAM</span>
                <span id="dimanche" class="badge badge-secondary mr-2">DIM</span>
            </div>
            <button id="valid" class="col  btn btn-primary my-2 p-2" >VALID MODIF</button>
        </div>
      </div>
</div>


<script src="{{ url_for('static', filename='scripts/config.js') }}"></script>
{% endblock %}