{% extends "base.html" %}
{% block menu %} 
    {% block navbar %} 
        {{ super() }} 
    {% endblock %} 
{% endblock %} 
{% block main %} 
<div class="row col-auto m-2 p-2 " style="min-width:390px;">
    <div class="card shadow my-2 mx-3" style="max-width:280px;min-width:280px;" >
        <ul class="list-group list-group-flush text-center">
            <li class="list-group-item">
                <h5 class="card-title text-center">VANNE 01</h5>
            </li>
            <li class="list-group-item ">
                <button id="v1_on" class="btn btn-outline-secondary col-10 m-2 " >ON</button>
                <button id="v1_off" class="btn btn-secondary col-10 m-2" >OFF</button>
                <button id="v1_prog" class="btn btn-outline-secondary col-10 m-2" >PROG</button>
            </li>
            <li id="ajout" class="list-group-item">
                <a href="{{ url_for('modif',prog='prog')}}" class="badge badge-info ">ajouter un programme</a>
            </li>
        </ul> 
    </div>
    <!--------------------------- prog card 1 ----------------------------->
    <div id="prog1" class="card shadow col-10 my-2 mx-3" style="max-width:280px;" >
        <div class="row no-gutters">
            <div class="col-2 border-right text-left mr-3 my-1">
                <span id="p1_lundi" class="badge badge-secondary mr-2">LUN</span>
                <span id="p1_mardi" class="badge badge-secondary mr-2">MAR</span>
                <span id="p1_mercredi" class="badge badge-secondary mr-2">MER</span>
                <span id="p1_jeudi" class="badge badge-secondary mr-2">JEU</span>
                <span id="p1_vendredi" class="badge badge-secondary mr-2">VEN</span>
                <span id="p1_samedi" class="badge badge-secondary mr-2">SAM</span>
                <span id="p1_dimanche" class="badge badge-secondary mr-2">DIM</span>
            </div>
            <div class="col-8 ml-2">
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        <h5 id="p1_nom" class="card-title text-center">PROG 01</h5>
                    </li>
                    <li class="list-group-item">
                        <span>Start: </span>
                        <span id="p1_start" class="btn btn-secondary"> -- : -- </span>  
                    </li>
                    <li class="list-group-item">
                            <span>Stop: </span>
                            <span id="p1_stop" class="btn btn-secondary"> -- : -- </span>  
                    </li>

                </ul>
            </div>   
        </div>
        <div class="card-body text-center border-top">
            <a id="mod_p1" href="{{ url_for('modif',prog='prog01',start='22:22') }}" class="badge badge-info ">modifier le programme</a>
        </div>
    </div>
    <!--------------------------- prog card 2 ----------------------------->
    <div id="prog2" class="card shadow col-10 my-2 mx-3 invisible" style="max-width:280px;" >
        <div class="row no-gutters">
            <div class="col-2 border-right text-center  mr-3 my-1">
                <span id="p2_lundi" class="badge badge-secondary mr-2">LUN</span>
                <span id="p2_mardi" class="badge badge-secondary mr-2">MAR</span>
                <span id="p2_mercredi" class="badge badge-secondary mr-2">MER</span>
                <span id="p2_jeudi" class="badge badge-secondary mr-2">JEU</span>
                <span id="p2_vendredi" class="badge badge-secondary mr-2">VEN</span>
                <span id="p2_samedi" class="badge badge-secondary mr-2">SAM</span>
                <span id="p2_dimanche" class="badge badge-secondary mr-2">DIM</span>
            </div>
            <div class="col-8 ml-2">
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        <h5 id="p2_nom" class="card-title text-center">PROG 02</h5>
                    </li>
                    <li class="list-group-item">
                        <span>Start: </span>
                        <span id="p2_start" class="btn btn-secondary"> -- : -- </span>  
                    </li>
                    <li class="list-group-item">
                            <span>Stop: </span>
                            <span id="p2_stop" class="btn btn-secondary"> -- : -- </span>  
                    </li>
                </ul>
            </div>   
        </div>
        <div class="card-body text-center border-top">
            <a href="{{ url_for('modif',prog='prog02') }}" class="badge badge-info ">modifier le programme</a>
        </div>
    </div>
    <!--------------------------- prog card 3 ----------------------------->
    <div id="prog3" class="card shadow col-10 my-2 mx-3 invisible" style="max-width:280px;" >
        <div class="row no-gutters">
            <div class="col-2 border-right text-center  mr-3 my-1">
                <span id="p3_lundi" class="badge badge-secondary mr-2">LUN</span>
                <span id="p3_mardi" class="badge badge-secondary mr-2">MAR</span>
                <span id="p3_mercredi" class="badge badge-secondary mr-2">MER</span>
                <span id="p3_jeudi" class="badge badge-secondary mr-2">JEU</span>
                <span id="p3_vendredi" class="badge badge-secondary mr-2">VEN</span>
                <span id="p3_samedi" class="badge badge-secondary mr-2">SAM</span>
                <span id="p3_dimanche" class="badge badge-secondary mr-2">DIM</span>
            </div>
            <div class="col-8 ml-2">
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        <h5 id="p3_nom" class="card-title text-center">PROG 03</h5>
                    </li>
                    <li class="list-group-item">
                        <span>Start: </span>
                        <span id="p3_start" class="btn btn-secondary"> -- : -- </span>  
                    </li>
                    <li class="list-group-item">
                            <span>Stop: </span>
                            <span id="p3_stop" class="btn btn-secondary"> -- : -- </span>  
                    </li>
                </ul>
            </div>   
        </div>
        <div class="card-body text-center border-top">
            <a href="{{ url_for('modif',prog='prog03') }}" class="badge badge-info ">modifier le programme</a>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
{% endblock %}
