{% extends "base.html" %}
{% block menu %} 
    {% block navbar %} 
        {{ super() }} 
    {% endblock %} 
{% endblock %} 
{% block main %} 
<div class="row col-5 m-2 p-2 border rounded border-dark">
    <span class="col-12 ">Vanne 1:</span>
    <div class="col-10   p-2 pl-4">
        <button id="v1_on" class="col-3 btn btn-outline-primary ml-2" >ON</button>
        <button id="v1_off" class="col-3 btn btn-primary ml-2 " >OFF</button>
        <button id="v1_prog" class="col-3 btn btn-outline-primary ml-2 " >PROG</button>
    </div>
    <div class="col-10  border rounded border-dark p-2 pl-4">
        <span id="info">Prog sur cette vanne:</span>
    </div>
    <div class="col-10  border rounded border-dark p-2 pl-4">
        <span >Prog sur cette vanne:</span>
    </div>
</div>


<script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
{% endblock %}
