{% extends "base.html" %}
{% block menu %} 
    {% block navbar %} 
        {{ super() }} 
    {% endblock %} 
{% endblock %} 
{% block main %} 
<div class="row col-11 col-sm-11 m-2 p-2">
    <span class="col-12 m-2 p-2 ">Modification du programe:</span> 
    <div class="shadow card ">
        <div class="card-body">
            <h4 id="prog01" class="card-title text-center">{{ prog|title }}</h4>
            <div class="card-text border rounded p-2 text-center mb-2">
                <div>
                    <span class="mr-2">start time: </span>
                    <input id="start" type="time" class="btn btn-secondary btn-sm m-2" value="{{ start }}"></span>
                </div>
                <div>
                    <span class="mr-2">stop time: </span>
                    <input id="stop" type="time" class="btn btn-secondary btn-sm m-2" value="{{ stop }}"></span>
                </div>
            </div>
            <div class="card-text border rounded p-2">
                <span id="lundi" class="badge badge-{{ period['lundi']|badge }} mr-2">LUN</span>
                <span id="mardi" class="badge badge-{{ period['mardi']|badge }} mr-2">MAR</span>
                <span id="mercredi" class="badge badge-{{ period['mercredi']|badge }} mr-2">MER</span>
                <span id="jeudi" class="badge badge-{{ period['jeudi']|badge }} mr-2">JEU</span>
                <span id="vendredi" class="badge badge-{{ period['vendredi']|badge }} mr-2">VEN</span>
                <span id="samedi" class="badge badge-{{ period['samedi']|badge }} mr-2">SAM</span>
                <span id="dimanche" class="badge badge-{{ period['dimanche']|badge }} mr-2">DIM</span>
            </div>
            <button id="valid" class="col  btn btn-info btn-small my-2 p-2" >VALIDER MODIF</button>
            <button id="suprim" class="col  btn btn-danger btn-small my-2 p-2" >DESACTIVER PROG</button>
        </div>
      </div>
</div>
<!------ modal erreur prog ----->
<div id="erreur"class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title">Modification du programme</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ">
            <div class="row">
              <div class="fa fa-exclamation-triangle fa-2x m-2"></div>
              <div class="ml-2">
                <dt > Erreur de paramètres:</dt>
                <dd id="err_mess">aaa</dd>
                <dd></dd>
              </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
<script src="{{ url_for('static', filename='scripts/modif.js') }}"></script>
{% endblock %}